body {
  background-color: #F6F7F8;
  font-family: Manrope, Arial, sans-serif;
  font-size: 14px;
  color:#072635;
  line-height: 19px;

}

.main-container {
  padding: 18px;
}


/* General flex style */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-flex-2 {
  display: flex;
  flex-direction: column;
  align-items:start;
  max-width: 766px;
  width: 100%;
  flex: 2;
}

.flex-start{
  display: flex;
  align-items: center;
  justify-content: start;
}

.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: end;
}

.gray {
  color:#707070;
}

.fw-md {
  font-weight:600;
}

.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 24px;
}

.fs-30 {
  font-size: 30px;
}

/* Nav-bar styles */
.mr-icon {
  margin-right: 9px;
  vertical-align:bottom;
}

.text-left {
  text-align: left;
}

.nav-item {
  text-decoration: none;
  color: #072635;
  font-weight: bold;
}

.nav-header {
  background-color: white;
  border-radius: 70px;
  max-width: 1564px;
  margin: 0 auto;
}

.nav-ul li:nth-child(2) {
  background-color: #01F0D0;
  padding: 11px 16px;
  border-radius: 41px;
}

.nav-content {
  padding: 12px 32px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: start;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width:1564px;
}



.nav-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  flex: 1
}

.col-3 {
  flex-basis: 25%;
}

.col-6{
  flex-basis: 50%;
}



.nav-btn-container {
  border-left: 1px solid lightgray;
  display:flex;
  align-items: center;
  padding-left: 5px;
}

.nav-setting-btn {
  background: white;
  border: none;
}

.nav-more-btn {
  background: white;
  border: none;
  transform: rotate(90deg);
}

.m-0 {
  margin:0;
}

.mr-1 {
  margin-right:10px;
}

.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.py-1 {
  padding: 10px 0;
}

.pl-2 {
  padding-left: 20px;
}

.nav-profile {
 padding-right: 10px;
 padding-left: 5px;
}

.patient-div{
  max-width: 367px;
  width:100%;
  flex: 1;
}

.patient-section {
  max-width: 367px;
  width:100%;
  background-color: white;
  border-radius: 16px;
}

.size-1 {
  width: 48px;
  height:48px;
}

.patient-row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.scrollable-patients-section {
  height: 930px;
  overflow-y: auto;
  border: 1px solid white;
}

.diagnosis-history-container {
  width: 100%;
  background-color: white;
  border-radius: 16px;
}

.blood-pressure-container {
  background-color: #F4F0FE;
  display: flex;
  border-radius: 12px;
  opacity: 1;
  gap: 20px;
  margin: 40px 20px 0 20px;
  padding: 16px;

}

.graph-container {
  flex: 2;
}

.size-22 {
  font-size: 22px;
}

.gap-16 {
  gap: 16px;
}

.graph-header {
  display: flex;
  justify-content: space-between;
}

.graph-legend {
 flex: 1;
}

.dot {
  width: 14px;
  height: 14px;
  margin-right: 5px;;
  border-radius: 100%;
}

.pink {
  background-color:#E66FD2;
}

.violet {
  background-color: #8C6FE6;
}


.info-cards-container {
  display: flex;
  gap:20px;
  margin: 20px;
}

.resp-rate-card {
  background-color: #E0F3FA;
  border-radius: 12px;
  flex:1;
  padding:16px;

}

.tempurature-card {
  background-color: #FFE6E9;
  border-radius: 12px;
  flex:1;
  padding:16px;
}

.heart-rate-card {
  background-color: #FFE6F1;
  border-radius: 12px;
  flex:1;
  padding:16px;
}

.Diagnostic-list-container {
  max-width: 766px;
  width:100%;
  background-color: white;
  border-radius: 16px;
  margin-top: 20px;
}

.table-container {
  max-height: 200px;
  overflow-y: auto;
  margin: 40px 20px 20px 20px;
}

.table-header {
  background-color:#F6F7F8;
  height: 48px;
  border-radius: 24px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

th,td {
  padding: 16px;
}

thead th:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

thead th:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

tbody tr:not(:last-child) {
  border-bottom: 1px solid #F6F7F8; /* Adjust color as needed */
}


.profile-container {
  /* max-width: 367px;
  width:100%; */
  background-color: white;
  border-radius: 16px;
  padding: 32px 0;
}

.profile-row-info{
  display: flex;
  gap: 16px;
  padding:10px;
  align-items: center;
}

.icon-wrapper {
  background-color: #F6F7F8;
  width: 42px;
  height: 42px;
  border-radius: 100%;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.btn-1 {
  background-color: #01F0D0;
  width: 220px;
  height: 41px;
  border-radius: 41px;
  border: none;
}

.mt-2{
  margin-top: 20px;
}

.mt-0 {
  margin-top: 0;
}

.m-0 {
  margin: 0;
}

.lab-results-container {
  background-color: white;
  max-width: 367px;
  width:100%;
  border-radius: 16px;
  padding-top: 20px;
  margin-top: 20px;
}

.scrollable-lab-resuls{
  height: 230px;
  overflow-y: auto;
  margin: 0 20px 20px;
}

.scrollable-lab-resuls li:nth-child(2) {
  background-color: #F6F7F8;
}

.lab-item-row {
  padding:16px;
}


.section-title{
  font-size: 24px;
  margin: 20px;
}


.flex-1 {
  flex: 1;
}


.profile-img {
  max-width: 200px;
  width:100%;
  height: auto;
}
